{% extends "base.html" %}
{% block title %}Home | Arsher{% endblock %}

{% block content %}
<section class="home">
  <div class="home-content">
    <h1>Hi, I am Arsher</h1>
    <h3>A Computer Engineering Student</h3>
    <p>I made this website as my requirement in Data Structures and Algorithm.</p>
    <div class="btn-box">
      <a href="https://youtu.be/YA77x_HLbEM?si=pVjbXcgmKJX51Doc">!</a>
      <a href="mailto:arsherroeyampon@gmail.com">E-mail Me</a>
    </div>
  </div>

  <div class="home-sci">
    <a href="https://facebook.com/arsherroey" target="_blank"><i class='bx bxl-facebook'></i></a>
    <a href="https://instagram.com/war_share_" target="_blank"><i class='bx bxl-instagram'></i></a>
    <a href="https://github.com/Arsher-Roey" target="_blank"><i class='bx bxl-github'></i></a>
    <a href="https://www.linkedin.com/in/arsher-roey-ampon-893276358" target="_blank"><i class='bx bxl-linkedin'></i></a>
  </div>
</section>
{% endblock %}
